<div fxFlex fxLayout="column" fxLayoutGap="16px">
  <div fxFlex fxLayout="column" fxLayoutGap="8px">
    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <div class="status-blob-active"></div>
      <span>Belinda Hernandez</span>
    </div>
    <div fxFlex fxLayout="column" fxLayoutGap="10px" class="time-row">
      <div fxFlex fxLayout="row" fxLayoutGap="10px">
        <ion-icon name="calendar-outline"></ion-icon>
        <span class="time-text">6:00am - 3:00pm</span>
      </div>
      <div fxFlex fxLayout="row" fxLayoutGap="10px">
        <ion-icon name="time-outline"></ion-icon>
        <span class="time-text">5:56am - 11:00am</span>
      </div>
      <div fxFlex fxLayout="row" fxLayoutGap="10px">
        <ion-icon name="time-outline"></ion-icon>
        <span class="time-text">11:57am - 3:02pm</span>
      </div>
    </div>
  </div>
</div>
