
  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>Schedule</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="locations">
        <ion-icon name="business-outline"></ion-icon>
        <ion-label>Locations</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="inbox">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        <ion-label>Inbox</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="more">
        <ion-icon name="apps-outline"></ion-icon>
        <ion-label>More</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>

