<ion-content [fullscreen]="true">
  <div fxFlex class="header-area" fxLayout="column" fxLayoutGap="16px">
    <span class="welcome-text" fxFlex>{{ greetingMessage}}, Chris</span>
    <ion-segment value="today" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="today">
        <ion-label>Today</ion-label>
      </ion-segment-button>
      <ion-segment-button value="upcoming">
        <ion-label>Upcoming</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div fxFlex class="container" fxLayout="column" fxLayoutGap="16px" *ngIf="view === 'today'">
    <div class="global-info-box" fxLayout="column" fxLayoutGap="8px" *ngFor="let item of items">
      <span class="global-info-header">{{ item.location }}</span>
      <span class="info-details">After: {{ item.start }}</span>
      <span class="info-details">Before: {{ item.end }}</span>
      <ion-button color="success" *ngIf="isCheckedIn && activeTimesheet.locId === item.locId" (click)="navigateToLocation(item.locId)">Start Working</ion-button>
      <ion-button color="primary" *ngIf="!isCheckedIn" (click)="checkInToLocation(item.locId, item.location)">Clock In</ion-button>
    </div>
  </div>
  <div fxFlex class="container" fxLayout="column" fxLayoutGap="16px" *ngIf="view === 'upcoming'">
    <div class="global-info-box" fxLayout="column" fxLayoutGap="8px" *ngFor="let item of items">
      <span class="global-info-header">{{ item.location }}</span>
      <span class="info-details">After: {{ item.start }}</span>
      <span class="info-details">Before: {{ item.end }}</span>
    </div>
  </div>
</ion-content>
