.container {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-top: 8px;
}
.welcome-text {
  font-family: 'SF Pro Display';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 26px;
letter-spacing: 0.5px;
}
.info-details {
  font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
letter-spacing: 0.382353px;
}
.scroll-container {
  // overflow: scroll;
}
.header-area {
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: white;
  padding: 16px;

}
