<ion-content [fullscreen]="true">
  <div fxFlex class="header-area" fxLayout="column" fxLayoutGap="16px">
    <span class="welcome-text" fxFlex>My Locations</span>
  </div>
  <div fxFlex class="container" fxLayout="column" fxLayoutGap="16px">
    <div class="global-info-box" fxLayout="column" fxLayoutGap="8px" *ngFor="let item of userLocations" (click)="enterLocation(item.location)">
      <div fxFlex fxLayout="row" fxLayoutGap="10px">
        <span fxFlex class="global-info-header">{{ item.location | locationName:accounts:false }}</span>
        <div fxLayout="column" fxLayoutAlign="start end">
          <ion-icon name="open-outline"></ion-icon>
        </div>
      </div>
      <span class="info-details">{{ item.location | locationAddress:accounts:false }}</span>
      <!-- <div fxFlex class="divider"></div>
      <span>Schedule</span>
      <app-admin-schedules-view></app-admin-schedules-view> -->
    </div>
  </div>
</ion-content>
