<ion-content [fullscreen]="true">
  <div fxFlex fxLayout="column" fxLayoutGap="16px" class="header-area">
    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <ion-icon style="height: 25px; width: 25px;" name="chevron-back"></ion-icon>
      <span fxFlex class="header-text">Republic Waste - Longview</span>
    </div>
    <span fxFlex class="content-text">Location Notes: 14963 Entry Code</span>
  </div>
  <div class="container" fxLayout="column" fxLayoutGap="16px">
    <span fxFlex class="section-header-text">Active Checklists</span>
    <div fxFlex fxLayout="column" fxLayoutGap="10px" class="global-info-box">
      <span fxFlex class="global-info-header">Monthly Building Duties</span>
      <span fxFlex class="global-info-content">Due by: 5/31/22</span>
      <span fxFlex class="global-info-content">Progress: 25%</span>
      <ion-progress-bar value="0.25" style="height: 5px;"></ion-progress-bar>
      <ion-button color="primary">View Checklist</ion-button>
    </div>
    <span class="section-header-text">Available Checklists</span>
      <div fxFlex fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="start center" class="available-checklist-items">
        <span fxFlex class="content-text">Day Janitor</span>
        <ion-button color="primary">Start</ion-button>
      </div>
      <div fxFlex fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="start center" class="available-checklist-items">
        <span fxFlex class="content-text">Day Janitor</span>
        <ion-button color="primary">Start</ion-button>
      </div>
      <div fxFlex fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="start center" class="available-checklist-items">
        <span fxFlex class="content-text">Day Janitor</span>
        <ion-button color="primary">Start</ion-button>
      </div>

  </div>
</ion-content>
