<ion-content [fullscreen]="true">
  <div fxFlex fxLayout="column" fxLayoutGap="16px" class="header-area">
    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <ion-icon
        style="height: 25px; width: 25px"
        name="chevron-back"
        (click)="goBack()"
      ></ion-icon>
      <span fxFlex class="header-text">{{ pageAccount | locationName:accounts:false}}</span>
    </div>
    <span fxFlex class="content-text"
      >{{ pageAccount | locationAddress:accounts:false}}</span
    >
    <span fxFlex class="content-text">Location Notes: {{ pageAccount | locationNotes:accounts:false}}</span>
  </div>
  <div fxFlex fxLayout="column" fxLayoutGap="16px" class="container">
    <!-- <ion-button color="primary" *ngIf="!isCheckedIn" (click)="checkin()">Check In</ion-button> -->
    <!-- <span class="section-header-text">Today's Schedule</span>
    <app-admin-schedules-view></app-admin-schedules-view>
    <span class="section-header-text">Today's Checklists</span>
    <div fxFlex fxLayout="column" fxLayoutGap="10px" class="global-info-box">
      <span fxFlex class="global-info-header">Monthly Building Duties</span>
      <span fxFlex class="global-info-content">Due by: 5/31/22</span>
      <span fxFlex class="global-info-content">Progress: 25%</span>
      <ion-progress-bar value="0.25" style="height: 5px"></ion-progress-bar>
      <ion-button color="primary">View Checklist</ion-button>
    </div> -->
    <!-- <span *ngIf="permission.inspection" class="section-header-text">Inspection</span>
    <div *ngIf="permission.inspection" fxFlex fxLayout="row" fxLayoutGap="10px" class="global-info-box" (click)="enterInspection()">
      <span fxFlex class="section-header-text">Start Inspection</span>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <div *ngIf="permission.inspection" fxFlex fxLayout="column" fxLayoutGap="10px" class="global-info-box">
      <span fxFlex class="global-info-content">Progress: 25%</span>
      <ion-progress-bar value="0.25" style="height: 5px"></ion-progress-bar>
      <span fxFlex class="global-info-content">Score: 75%</span>
      <ion-progress-bar value="0.75" style="height: 5px"></ion-progress-bar>
      <ion-button color="primary" (click)="enterInspection()">Continue Inspection</ion-button>
    </div> -->
    <span *ngIf="permission.inventory" class="section-header-text">Inventory</span>
    <div *ngIf="permission.inventory" fxFlex fxLayout="row" fxLayoutGap="10px" class="global-info-box" (click)="enterInventory()">
      <span fxFlex class="section-header-text">View / Edit Inventory</span>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
</ion-content>
