<ion-content [fullscreen]="true">
  <div fxFlex fxLayout="column" fxLayoutGap="16px" class="header-area">
    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <ion-icon
        style="height: 25px; width: 25px"
        name="chevron-back"
        (click)="goBack()"
      ></ion-icon>
      <span fxFlex class="header-text">Inventory</span>
    </div>
  </div>
  <div fxFlex fxLayout="column" fxLayoutGap="16px" class="container">
    <span class="section-header-text">Supplies List</span>

    <!-- Supplies List Box -->

    <div fxFlex fxLayout="column" fxLayoutGap="10px" class="global-info-box">
      <div fxFlex fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" class="supply-item" (click)="enterInventoryDetails()">
        <div fxFlex fxLayout="column" fxLayoutGap="10px">
          <div fxFlex fxLayout="row" fxLayoutGap="16px">
            <span class="section-header-text">18</span>
            <span class="section-header-text">Windex</span>
          </div>
          <span class="time-text">Last Update: 4/16/22</span>
        </div>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
      <div fxFlex fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" class="supply-item" (click)="enterInventoryDetails()">
        <div fxFlex fxLayout="column" fxLayoutGap="10px">
          <div fxFlex fxLayout="row" fxLayoutGap="16px">
            <span class="section-header-text">18</span>
            <span class="section-header-text">Trash Bags</span>
          </div>
          <span class="time-text">Last Update: 4/16/22</span>
        </div>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
    <span class="section-header-text">Equipment List</span>

    <!-- Equipment List Box -->

    <div fxFlex fxLayout="column" fxLayoutGap="10px" class="global-info-box">
      <div fxFlex fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" class="equipment-item" (click)="enterInventoryDetails()">
        <div fxFlex fxLayout="column" fxLayoutGap="10px">
          <div fxFlex fxLayout="row" fxLayoutGap="16px">
            <span class="section-header-text">3</span>
            <span class="section-header-text">Carts</span>
          </div>
          <span class="time-text">Last Update: 4/16/22</span>
        </div>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
      <div fxFlex fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" class="equipment-item" (click)="enterInventoryDetails()">
        <div fxFlex fxLayout="column" fxLayoutGap="10px">
          <div fxFlex fxLayout="row" fxLayoutGap="16px">
            <span class="section-header-text">5</span>
            <span class="section-header-text">Mop Buckets</span>
          </div>
          <span class="time-text">Last Update: 4/16/22</span>
        </div>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

  </div>
</ion-content>
